apiVersion: apps/v1
kind: Deployment
metadata:
  name: tyb-frontend-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      name: frontend
  template:
    metadata:
      labels:
        name: frontend
    spec:
      containers:
        - name: frontend-con
          image: srineelx23/frontend-app
          ports:
            - containerPort: 5173