apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: srineelx23/backend-app:latest   # Your Docker Hub image
        ports:
        - containerPort: 4000                  # Your backend runs on port 4000
        envFrom:
        - secretRef:
            name: backend-secrets              # Load env variables from Kubernetes Secret
