apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  type: LoadBalancer
  selector:
    app: backend                  # Must match the label in deployment
  ports:
    - protocol: TCP
      port: 4000                  # Port exposed outside the cluster (localhost:4000)
      targetPort: 4000            # Port inside container
