apiVersion: v1
kind: Secret
metadata:
  name: backend-secrets
type: Opaque
stringData:
  DB_URL: "mongodb+srv://srineel04:srineel04@tybcluster.8g9u2wd.mongodb.net/?retryWrites=true&w=majority&appName=TYBCluster"
  SECRET_KEY: "dfhsldasdkfjhasldfkjhalsdkfhalfdsajfhalsdkjfh"
  NODE_ENV: "production"
