apiVersion: apps/v1
kind: Deployment
metadata:
  name: tyb-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      name: backend
  template:
    metadata:
      labels:
        name: backend
    spec:
      containers:
        - name: backend-con
          image: srineelx23/backend-app
          ports:
            - containerPort: 4000