# Ignore backend
backend/node_modules/
backend/.env
backend/k8s/*secret*.yaml
backend/k8s/*secrets*.yaml
*.env

# Ignore frontend
client/node_modules/
client/.env
client/dist/
client/.vite

# General
.env
.DS_Store
*.log
.vscode/